* {
    margin: 0;
    padding: 0;
    
}

@font-face { /*the font of the site*/
    font-family: font;
    src: url(fonts/Carlene.otf) format(truetype);
}

body{
    font-family: font;
}

.header {  /*the background*/
    min-height: 97vh;
    width: 100%;
    background: url(images/background.jpg);
    background-position: center;
    background-size: 100% 100%;
}

.icon{ /*the icon of the site*/
    position: absolute;
}

.header::before{  /*NA TO ALLAKSW*/
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.5);
}


nav{ /*the menu in the right corner*/
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}


.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{ /*sets the position of the menu to be horizontally*/
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{ /*changes the color and the size of the categories in menu*/
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{ /*underline the categories of the menu*/
    content: "";
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{ /*the box in the centre of the site*/
    width: 90%;
    color: #fd8700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-box h1{ /*the size of the letters*/
    font-size: 62px;
}

.text-box p{ /*the size of the letters*/
    margin: 10px 0 40px;
    font-size: 14px;
}


.info{  /*info for the about us*/
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}

.person{ /*details about box in about us*/
    color: black;
    border-radius: 25px;
    background:  rgba(234, 227, 227, 0.5);
    padding: 20px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.footer{ /*the position and the details of the footer*/
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fd8700;
    color: white;
    text-align: center;
}


.tab-titles { /*the position of the images in categories*/
    display: flex;
    margin: -80px 0 40px;
    
}

.tab-links { /*the distances between the categories*/
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.categories-menu{ /*the board with the details in categories*/
    display: flex;
    width: 46%;
    height: 30%;
    padding: 2% 10%;
    justify-content:space-between;
    align-items:flex-start;
    position: absolute;
    top: 30%;
    left: 18%;
    background-color: rgba(0, 0, 0, 0.5);
}


.tab-titles ul li{ /*justify the position and the color of the categories*/
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    top: 100px;
    color: white;
}


.tab-titles ul li::after{  /*hover categories*/
    content: "";
    width: 0%;
    height: 2px;
    background: #fd8700;
    display:block;
    margin: 0px;
    transition: 0.5s;
}

.tab-titles ul li:hover::after{
    width: 80%;
    
}

.tab-titles ul li ul.dropdown li{
    display: block;
   
}

.tab-titles ul li ul.dropdown{
    width: 100%;
    background: transparent;
    position:absolute;
    top: -15%;
    z-index: 999;
    display: none;
}

.tab-titles ul li:hover ul.dropdown{
    display: block;
}


.tab-titles img {
    width: 40px;
}

/*-------style of the social icons-------*/
.icon-bar {
    position: absolute;
    top: 94%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
  }

 
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

/*------HOME-RENTALS------*/

.heading { 
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    font-weight: 500;
    color:blue;
}

.heading h2 {
    font-size: 17px;
}

.properties-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    gap: 3rem;
    padding: 0 50px;
}

.properties-container .box {  /*details of the box*/
    background:#d6d6d6;
    padding: 15px;
    border-radius: 1rem;
    opacity: 0.9;
}


.properties-container .box:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.properties-container .box img { /*details of the image inside the box*/
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;
    display: flex;
}

.properties-container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    float:right;
}

.properties-container .box .content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.properties-container .box .content .text h3 {
    font-weight: 500;
}

.properties-container .box .content .text p {
    font-size: 0.8rem;
}

.properties-container .box .content .icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.properties-container .box .content .icons .bx {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.properties-container .box .content .icon span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}


/*-------HOME DETAILS------*/

.details { /*one box next to the other*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 50px;    
}

.details .home-box {
    
    background:#d6d6d6;
    padding: 40px;
    border-radius: 1rem;
    margin-top: 50px;
    opacity: 0.9;
    
}

.details .board {
    display:block;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    background:#d6d6d6;
    padding: 122px;
    border-radius: 1rem;
    margin-top: 50px;
    opacity: 0.9;
    
}


/*-----SUPPORT-----*/

.support {
    display:block;
    align-items: center;
    background:#e8e6e6;
    padding: 50px;
    border-radius: 1rem;
    margin-top: 50px;
    opacity: 0.9;
    
}

fieldset {
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #6668bc;
    border-radius: 1rem;
}

input {
    background-color: #ffffff;
    border-radius: 0.5rem;
}

input::placeholder {
    text-align: center;
}

legend {
    font-size: 20px;
    color: #6668bc;

}

details {
    margin-bottom: 20px;
}


input[type="submit"] {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: medium;
    
}

p {
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    margin-right: 20px;
}


input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
}